body {
    font-family: 'Roboto Condensed', sans-serif;
}
.heading {
    text-align: center;
}
.App {
    margin: auto;
}
.wrapper {
    margin: auto;
    width: 768px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img {
    width: 229px;
    margin-bottom: 30px;
}